{% extends 'shoes/main.html' %}
{% load static %}

{% block body %}



<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a  class="btn btn-outline-dark" href="{% url 'shoestore' %}">&#x2190; Continue Shopping</a>

            <div class="cart-heading">

                <h5>Items: <strong>{{order.get_cart_total_items}}</strong></h5>
                <h5>Total:<strong> ₹ {{order.get_cart_total_price}}</strong></h5>
                <p><a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a></p>

            </div>


        </div>

        <br>
        <div class="box-element">
            <div class="cart-summary">
                <div></div>
                <div><strong>Item</strong></div>
                <div><strong>Price</strong></div>
                <div><strong>Quantity</strong></div>
                <div><strong>Total</strong></div>

                {% for item in items %}
                <div><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div><p>{{item.product.name}}</p></div>
                    <div><p>{{item.product.price | floatformat:2}}</p></div>
                    <div>
                        <div class="quantity">
                            <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart-button" src="{% static  'images/add.png' %}">
                            <p>{{item.quantity}}</p>
                            <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart-button" src="{% static  'images/minus.png' %}">
                        </div>
                    </div>
                <div><p>₹ {{item.get_total}}</p></div>
                {% endfor %}
                
            </div>
        </div>

    </div>
</div>














{% endblock body %}