{% extends 'shoes/main.html' %} {% load static %} {% block body %}
<div class="antialiased">


    <div class="py-8">
        <div class="max-w-7xl mx-auto h-full px-4 sm:px-6 lg:px-8 mt-6">
            <div class="flex flex-col md:flex-row -mx-4 h-full">
                <div class="md:flex-1 px-4">
                    <div>
                        <div class="h-64 md:h-80 rounded-lg bg-grey-100 mb-4">
                            <div
                                class="h-64 md:h-80 md:mt-5 rounded-lg bg-grey-100 mb-4 flex items-center justify-center">
                                <img class="row-image w-auto h-full scale-110 shadow-lg md:shadow-2xl md:shadow-slate-700 shadow-slate-500 "
                                    src="{{product.imageURL}}" />
                            </div>

                        </div>


                    </div>
                </div>
                <div class="md:flex-1 px-4">
                    <h2
                        class="mb-2 mt-10 md:mt-0 leading-tight tracking-tight font-bold text-gray-800 text-lg md:text-[1.7rem]">
                        {{product.name}}</h2>
                    <p class="text-gray-500 text-sm">By <a href="#"
                            class="text-indigo-600 hover:underline">{{product.brand}}</a></p>

                    <div class="flex items-center space-x-4 my-4">
                        <div>
                            <div class="rounded-lg bg-grey-100 flex py-2 px-3">
                                <span class="text-indigo-500 mr-1 mt-1 text-2xl">₹</span>
                                <span class="font-bold text-indigo-600 text-3xl">{{product.price|floatformat:2}}</span>
                            </div>
                        </div>
                        <div class="flex-1">
                            <!-- <p class="text-green-500 text-xl font-semibold">Save 12%</p> -->

                            <p class="text-green-400 text-sm hover:text-orange-500 animate-bounce h-5 w-5">
                                {{product.condition}}</p>


                        </div>
                    </div>

                    <p class="text-[0.7rem] md:text-[0.86rem] text-gray-500">{{product.description}}</p>

                    <div class="flex py-4 justify-between md:justify-start md:gap-7">
                        <button type="button" data-product="{{product.id}}" data-action="add"
                            class="h-14 px-5 py-2 font-semibold rounded-xl bg-indigo-600 hover:bg-indigo-500 text-white update-cart-button"
                            id="cart-btn-alert">
                            Add to Cart
                        </button>

                        <button type="button"
                            class="flex flex-row items-center h-14 px-5 py-2 font-semibold rounded-xl bg-white hover:bg-slate-200 text-slate-800">
                            Wishlist
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}